/* jp-related */
/*.type-event .jp-relatedposts {
  display: none !important;
}

#jp-relatedposts h3.jp-relatedposts-headline {
  font-size: 24px !important;
  font-family: Lato,sans-serif !important;
  color: #00337f;
  font-weight: 700 !important;
}

.interior-page .crp_related {display: none;}
*/
@media screen and (max-width: 372px) {
	/*ways-to-help hero img*/
	.page-id-97 .landing-page .landing-page-hero{
  	background-size: auto 150px;
	}

	/* donate hero img */
	.page-id-53 .hero-text-container,
	.page-id-448 .hero-text-container {
  	margin-top: 60px !important;
	}
}

.ufaq-faq-display-style-Minimalist .ewd-ufaq-post-margin-symbol span {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}


.primary-nav .nav>li>a {
	padding: 10px 25px!important;
    text-transform: uppercase!important;
}

#donation-form-btn-next {
	background-color: #c23b13 !important;
}

#donation-form-btn-next:hover,
#donation-form-btn-next:focus {
	background-color: #d28e00 !important;
}

.btn-campaign {
	font-size: 24px !important;
    font-weight: bold !important;
    padding: 20px 50px !important;
}

.btn-campaign-small {
	font-size: 20px;
    padding: 15px 20px;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
	.btn-campaign {
		font-size: 22px !important;
		font-weight: bold !important;
	}
	.homepage-hero .button {
		max-width: 275px !important;
	}
}







@media screen and (min-width: 992px) {
    .yd-news-card,
    .yd-promo-container {
        float: left;
        width: calc(25% - 15px);
        border: 1px solid #98CAEC;
        border-radius: 5px;
        margin-right: 15px;
        margin-top: 30px;
        min-height: 490px;
    }  
}

@media screen and (max-width: 991px) {
    .news_form_wrapper .input-margins-forms.col-sm-12.col-md-4 {
        margin-bottom: 10px;
    }
    .news_form_wrapper .input-margins-forms.col-sm-12.col-md-4 .form-label-group-float.input-group {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .yd-news-card,
    .yd-promo-container {
        float: left;
        width: calc(33.3333% - 15px);
        border: 1px solid #98CAEC;
        border-radius: 5px;
        margin-right: 15px;
        margin-top: 30px;
        min-height: 490px;
    }
    .yd-news-topnav-container.row .form-inline button.button.btn-green {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 479px) {
    .yd-news-card,
    .yd-promo-container {
        float: none !important;
        width: 100% !important;
        height: 100% !important;
    }
    .yd-promo-container .img-responsive {
        width: 100% !important;
    }
}

@media screen and (max-width: 767px) {
    .yd-news-card,
    .yd-promo-container {
        float: left;
        width: calc(50% - 15px);
        border: 1px solid #98CAEC;
        border-radius: 5px;
        margin-right: 15px;
        margin-top: 30px;
        height: 490px;
    }
    .yd-desktop-only {
        display: none;
    }
    .news_form_wrapper input#cons_first_name_news {
        margin-bottom: 10px;
    }
    .yd-sticky-news-article .yd-post-thumbnail {
        height: 300px !important;
    }
    .yd-sticky-news-article .yd-entry-header h2.yd-entry-title {
        font-size: 26px;
        margin-top: 15px !important;
    }
    h1.clearfix {
        font-size: 26px !important;
    }
}

.news_form_wrapper .input-margins-forms.col-sm-12.col-md-4 .form-label-group-float.input-group {
    width: 100%;
}

.yd-news-categories {
    padding: 5px 7px !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-image: url('/wp-content/uploads/select-arrow.png') !important;
    background-origin: content-box !important;
    background-position: right -8px top 8px !important;
    background-repeat: no-repeat !important;
    background-size: 15px 10px !important;
    padding-right: 1.5rem !important;
    cursor: pointer;
    border: 1px solid #00337f;
    background-color: #fff;
    width: 100%;
}

.yd-promo-container.blue {
    border: 1px solid #00337f;
}

.yd-promo-container.blue .panel {
    background-color: #00337f;
    color: #fff;
}

.yd-promo-container.blue .panel-footer {
    background-color: #00337f;
    border-top: 0;
}

.yd-promo-container.blue .panel-footer span.button.btn-clear.btn-block:hover,
.yd-promo-container.blue .panel-footer span.button.btn-clear.btn-block:focus {
    color: #00337f;
}

.yd-promo-container.red {
    border: 1px solid #c33c14;
}

.yd-promo-container.red .panel {
    background-color: #c33c14;
    color: #fff;
}

.yd-promo-container.red .panel-footer {
    background-color: #c33c14;
    border-top: 0;
}

.yd-promo-container.red .panel-footer span.button.btn-clear.btn-block:hover,
.yd-promo-container.red .panel-footer span.button.btn-clear.btn-block:focus {
    color: #c33c14;
}

.yd-promo-container.yellow {
    border: 1px solid #cc8304;
}

.yd-promo-container.yellow .panel {
    background-color: #cc8304;
    color: #fff;
}

.yd-promo-container.yellow .panel-footer {
    background-color: #cc8304;
    border-top: 0;
}

.yd-promo-container.yellow .panel-footer span.button.btn-clear.btn-block:hover,
.yd-promo-container.yellow .panel-footer span.button.btn-clear.btn-block:focus {
    color: #cc8304;
}

.yd-promo-container.green {
    border: 1px solid #72ae00;
}

.yd-promo-container.green .panel {
    background-color: #72ae00;
    color: #fff;
}

.yd-promo-container.green .panel-footer {
    background-color: #72ae00;
    border-top: 0;
}

.yd-promo-container.green .panel-footer span.button.btn-clear.btn-block:hover,
.yd-promo-container.green .panel-footer span.button.btn-clear.btn-block:focus {
    color: #72ae00;
}

.yd-promo-container .panel-footer span.button.btn-clear.btn-block {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.yd-promo-container .panel-footer span.button.btn-clear.btn-block:hover,
.yd-promo-container .panel-footer span.button.btn-clear.btn-block:focus {
    background-color: #FFF;
}

.news_form_wrapper input#cons_email_news {
    border-radius: 5px;
}

.yd-promo-container .panel {
    margin-bottom: 0 !important;
}

.yd-promo-container a {
    text-decoration: none;
}

.yd-promo-container .panel-title {
    font-weight: 400;
}

.yd-promo-container .panel {
    border: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.yd-promo-container .panel-body {
    padding: 0 !important;
}

.yd-promo-container .panel-footer {
    font-weight: 400;
}

.yd-nav-social {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.yd-nav-social>li {
    float: left;
    display: block;
}

.yd-nav-social>li>a {
    line-height: 20px;
    display: block;
    padding: 0px 5px 15px 15px;
}

.yd-nav-social>li>a>i {
    color: #d28e00;
}

.yd-nav-social>li>a:hover>i,
.yd-nav-social>li>a:focus>i {
    color: #7ea83f;
}

.yd-news-topnav-container.row {
    border-bottom: 1px solid #98CAEC;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 25px;
}

.yd-news-topnav-container.row h1 {
    font-weight: 400;
}

.yd-news-card .yd-post-thumbnail img {
    width: 100%;
    border-radius: 0;
}

.yd-news-card .yd-entry-header .yd-entry-title {
    font-size: 20px;
    font-weight: normal !important;
    margin: 0;
    padding: 15px;
}

.yd-news-card .yd-entry-header .yd-entry-title a {
    font-weight: 400;
}

.yd-news-card .yd-entry-header .yd-entry-title a:hover,
.yd-news-card .yd-entry-header .yd-entry-title a:focus {
    color: #d28e00;
}

.yd-news-card .yd-category-container p {
    margin: 0;
    padding: 15px;
}

.yd-news-card .yd-category-container p a {
    font-weight: 400;
}

.yd_loadmore_container {
    clear: both;
    padding: 35px 0;
    text-align: center;
}

.yd_loadmore {
    display: inline-block;
    padding: 15px 30px;
    background-color: #72AF12;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.yd_loadmore:hover,
.yd_loadmore:focus {
    background-color: #d28e00;
}

.yd-signup-block .col-xs-12.col-sm-4 {
    text-align: center;
}

.yd-signup-block .col-xs-12.col-sm-8 {
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #01327F;
    background-color: #01327F;
    color: #fff;
}

.yd-signup-block .col-xs-12.col-sm-8 h2 {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 15px;
}

.news_form_wrapper button#survey-submit-news {
    margin-top: 15px;
    background-color: #BA3523;
    color: #fff;
    width: auto;
    padding: 10px 35px;
}

.news_form_wrapper button#survey-submit-news:hover,
.news_form_wrapper button#survey-submit-news:focus {
    background-color: #98caec;
}

.news_form_wrapper label {
    display: none;
}

.news_form_wrapper .input-group-prepend {
    display: none;
}

.news_form_wrapper .panel-default {
    border: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background-color: #01327F;
    margin-bottom: 0 !important;
}

.news_form_wrapper .panel-body {
    padding: 0 !important;
}

.clearfix {
    clear: both;
}

h1.clearfix {
    padding-top: 35px;
    font-weight: 400;
    text-align: center;
	text-transform: uppercase;
}

.yd-sticky-news-article {
    margin-top: 30px;
    margin-bottom: 30px;
}

.yd-sticky-news-article .yd-post-thumbnail {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    border-radius: 5px;
}

.yd-sticky-news-article .yd-entry-header h2.yd-entry-title a {
    font-weight: 400 !important;
}

.yd-sticky-news-article .yd-entry-header h2.yd-entry-title {
    margin-top: 0;
    padding-top: 0;
}

.yd-sticky-news-article .link-more {
    display: none;
}

